@model writing_goals.Models.Sprint

@{
    ViewData["Title"] = "Index";
}


@if (Model == null)
{
    @*<div class="text-center">
            <h1 class="display-4">Welcome!</h1>
            <input type="button"
                   class="btn btn-light"
                   value="Create New Sprint"
                   onclick="location.href='@Url.Action("Create", "Sprints")'" />
        </div>*@
    <div class="jumbotron text-center">
        <h1 class="display-3">Welcome</h1>
        <p class="lead">Writing Goals is a simple app to help you set goals for your next writing project.</p>
        <hr class="my-4">
        <p>Click below to get started on your first sprint</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-controller="Sprints" asp-action="Create" role="button">Create</a>
        </p>
    </div>
    @*<button type="button" class="btn btn-primary" asp-controller="Sprints" asp-action="Create">Create New Sprint</button>*@

}

@if (Model != null)
{
    <br />
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayName("Sprint Start Date")
                </th>
                <th class="text-center">
                    @Html.DisplayName("Sprint End Date")
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.StartDate)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => Model.EndDate)
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        </tbody>
    </table>
    <table id="sweet-table" class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
            <tr>
                <th scope="col" class="text-center">Goal #</th>
                <th scope="col" class="text-center">@Html.DisplayName("Day")</th>
                <th scope="col" class="text-center">@Html.DisplayName("Time")</th>
                <th scope="col" class="text-center">@Html.DisplayName("Date")</th>
                <th scope="col" class="text-center">@Html.DisplayName("Time Spent (Hrs)")</th>
                <th scope="col" class="text-center">@Html.DisplayName("Time Target (Hrs)")</th>
                <th scope="col" class="text-center">@Html.DisplayName("Word Count")</th>
                <th scope="col" class="text-center">@Html.DisplayName("Word Target")</th>
                <th scope="col" class="text-center">@Html.DisplayName("Note")</th>
            </tr>
        </thead>
        <tbody>
            @{ var counter = 0;
                @foreach (var sprintGoal in Model.sprintGoals)
                {
                    counter += 1;
                    <tr>
                        <td class="text-center">
                            @counter
                            @*<br />
                                <a asp-action="Edit" asp-route-id="@item.Id">Update</a>*@
                        </td>
                        <td id="day-of-week-@sprintGoal.Id" class="text-center">@Html.DisplayFor(modelItem => sprintGoal.GoalDate.DayOfWeek)</td>
                        <td id="time-only-@sprintGoal.Id" class="text-center">@Html.DisplayFor(modelItem => sprintGoal.TimeOnly)</td>
                        <td id="date-only-@sprintGoal.Id" class="text-center">@Html.DisplayFor(modelItem => sprintGoal.DateOnly)</td>
                        <td id="actual-time-@sprintGoal.Id" class="text-center editable">@Html.DisplayFor(modelItem => sprintGoal.TimeActual)</td>
                        <td id="goal-time-@sprintGoal.Id" class="text-center">@Html.DisplayFor(modelItem => sprintGoal.TimeGoal)</td>
                        <td id="actual-count-@sprintGoal.Id" class="text-center editable">@Html.DisplayFor(modelItem => sprintGoal.WordCountActual)</td>
                        <td id="goal-count-@sprintGoal.Id" class="text-center">@Html.DisplayFor(modelItem => sprintGoal.WordCountGoal)</td>
                        <td id="optional-goal-@sprintGoal.Id" class="text-center editable">@Html.DisplayFor(modelItem => sprintGoal.OptionalGoal)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <form asp-action="Complete" asp-route-id="@Model.Id">
        <button class="btn btn-primary">
            Complete Sprint
        </button>
    </form>
}
