@model IEnumerable<writing_goals.Models.Sprint>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <input type="button"
           value="Create New Sprint"
           onclick="location.href='@Url.Action("Create", "Sprints")'" />
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Sprint Start Date")
            </th>
            <th>
                @Html.DisplayName("Sprint End Date")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
