@model writing_goals.Models.Goal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Goal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SprintId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SprintId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeGoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeGoal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordCountGoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordCountGoal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordCountActual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordCountActual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OptionalGoal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OptionalGoal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
